<div style="width: 50%; margin: auto;">
<p-card>
    <div class="text-center">
        <h1>
            About Me
        </h1>
    </div>
</p-card>

<p></p>

<p-card>
    <div class="text-center">
        <p>
        <i>
        "Zachary Laguna is a Masters student at Texas A&M University. He considers himself a forever student as he is eager to build upon his academic foundations in Computer Engineering and Mathematics in addition to staying in tune with the changing technological world around us."
        </i>
        </p>
        <p>Welcome to my personal website! I'm Zachary Laguna, a dedicated <strong>software engineer</strong> with a passion for tackling complex problems and creating innovative solutions. Based in Plano, Texas, I have a Bachelor's degree in <strong>Computer Engineering</strong> from Texas A&M University and a strong foundation in various programming languages and technologies, including <strong>Python</strong>, <strong>Java</strong>, <strong>C++</strong>, and more.</p>

        <p>My objective is to secure a challenging <strong>software engineering</strong> position that leverages my skills in designing, developing, and implementing high-quality <strong>software solutions</strong>. With a commitment to excellence and a strong problem-solving mindset, I strive to make a significant impact in the tech industry.</p>

        <p>In my free time, I've been involved in exciting projects such as the <strong>Baby AI Monitor</strong>, which uses <strong>computer vision</strong> and <strong>motion detection</strong> to create a smart baby monitor, and <strong>Real Mgmt</strong>, a full-stack application developed with a team of five, hosted on <strong>Amazon Web Services</strong>. Additionally, I led the development of <strong>Gordobot</strong>, a robot that dispenses ingredients based on user input.</p>
        
        <p>Education-wise, I completed my BS in <strong>Computer Engineering</strong> at Texas A&M University, a program that covered both hardware and software engineering. During my time there, I also held a leadership role as the President of <strong>Sigma Alpha Mu</strong>, overseeing multiple committees and ensuring the organization's financial health.</p>
        
        <p>I've received accolades such as the Texas A&M University Honors Program and Dean's List recognition for multiple semesters. I'm also proud to have won the <strong>Safe2save Philanthropy Prize</strong>.</p>
        
        <p>This website is a glimpse into my journey, experiences, and projects. I'm excited to continue growing in the field of <strong>software engineering</strong> and contributing to the development of innovative solutions. Thank you for visiting, and I look forward to sharing more with you!</p>

    </div>

    <div style="text-align: center;"><h3> Number of Years in skill </h3></div>
    <div class="grid" style="text-align: center;">
        <div class="col-4">
            <p-knob [(ngModel)]="value1" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Python</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value2" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>C++</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value3" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Java</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value4" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Javascript</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value5" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Web Development</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value6" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Cybersecurity</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value7" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>Agile Methodology</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value8" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>AWS Cloud</p>
        </div>
        <div class="col-4">
            <p-knob [(ngModel)]="value9" [min]="0" [max]="5" [readonly]="true"></p-knob>
            <p>CI/CD Jenkins</p>
        </div>
    </div>


</p-card>

</div>
