<div style="margin: auto; width: 50%;">
    <div style="text-align: center;">
        <p-card>
        <h1>Zachary Laguna</h1>
        <h3>B.S. Computer Engineering</h3>
        <p>
            My name is Zachary Laguna and I am a 23-year-old Software Engineer. I received by Bachelor's of Science in Computer Engineering at Texas A&M University. Currently, I am engaged in developing a full stack web application for a course intructor at Texas A&M University. Having developed numerous web applications in my studies and development projects, I consider myself proficient in creating full stack web applications. However, I am always improving through practice and review. 
        </p>

        <i>
        Passionate software engineering graduate with a hands-on, high energy approach, well-developed skills in Agile methodology, and an unapologetically user focused philosophy.
        </i>
        <!-- <button (click)="onClick()" class="btn btn-primary">Click Me</button> -->

        <!-- <p-button id="jquerytestbutton">Click me demonstrate jquery popups</p-button> -->

        <!-- <p-button onClick="getpathlength()">Get path length</p-button> -->
        <p style="visibility: hidden;">space</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.48 80.16" class="signature-svg center"><title>Fichier 4signature-test</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="signature-path" d="M20.2,57.81c.66,2.52,1.68,5.41,4.16,6.19,3.28,1,6.2-2.46,7.38-5.7,1.84-5,2.16-10.46,2.28-15.81q.28-11.91-.58-23.82c-.3-4.09-.9-8.6-4-11.32C33,13.05,36.53,18.89,38,25.42s.32,14-4.46,18.69A56,56,0,0,1,45.43,24.36a210,210,0,0,0-17.37,17.3,9.89,9.89,0,0,0,4.64-3.45A118.85,118.85,0,0,1,1.19,78.53c3.92-9.78,12.24-17,20.6-23.44A293.74,293.74,0,0,1,142.38.49" style="fill:none; stroke-miterlimit:10"/></g></g></svg>
        </p-card>
    </div>
    <p></p>
    <div style="text-align: center;">
        <p-card>
            <img class="img-responsive center" src="assets/profilepicture.jpg" width="50%" height="100%">
            Zachary Laguna
        </p-card>
    </div>
</div>
