.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

// body{
//     background:#000000;
// }
/* centering purpose only */
.signature-svg {
    display:block;
    width:250px;
    // position:relative;
    // top: 0%;
    // left: 50%;
    // transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
}
.signature-path{
    stroke:rgb(0, 0, 0);/* color of the signature */
    stroke-width:1px;/* need to be more than 0 otherwise you can't see it */
    animation: demodraw 2s ease-in infinite; /* name of the keyframe, duration, easing function ( slow start fast ending ), repeat infinietly */
    stroke-dasharray: 380.67059326171875;/* value returned by var path = document.querySelector('path');
    var length = path.getTotalLength(); */
    stroke-dashoffset: 380.67059326171875;/* value returned by var path = document.querySelector('path');
    var length = path.getTotalLength(); */
}

@keyframes demodraw {
  to {
    stroke-dashoffset: 0;
  }
}
